.rmu {
    background-color: rgb(14, 147, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gh {
    background-color: rgb(132, 238, 11);
}

#xyz {
    background-color: indianred;
}

h3 {
    background-color: blueviolet;
}